#!/usr/bin/env bash

local ver="3.0.6"
local user="nix-community"
local repo="nix-direnv"
local artifact="direnvrc"
local url="https://raw.githubusercontent.com/${user}/${repo}/${ver}/${artifact}"
local hash="sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="

if ! has nix_direnv_version || ! nix_direnv_version "${ver}"; then
  source_url "${url}" "${hash}"
fi

use flake . --impure || use nix . --impure
